/* Definicion de estilos especificos para elementos de la pagina (colores, tipografia, tamaño de fuentes, especificacion del modelo de cajas)*/
*{
	padding: 0;
	margin: 0;
	list-style: none;
}

body{
	color: #eee;
}

/* Inicio de cabecera */

.header__content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo{
	display: inline-flex;
}

.header__title,
.header__toggle{
	font-family: 'Ubuntu', sans-serif;
	margin: 0 .5rem;
}

.header__title{
	font-size: 1.4rem;
}

.header__options{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #eee;
	border-radius: 10px;
	margin: 0 1rem;
	width: 90px;
	height: 50px;
	color: #eee;
}

.header__options--menu{
	display: none;
	width: 150px;
	height: 30px;
	position: absolute;
	right: 25px;
	top: 90px;
	border: 1px solid black;
	border-radius: 10px;
	padding: 1.5em;
	z-index: 100;
	background: #0D0D0D;
}

.header__options--menu::before{
	content: '';
	position: fixed;
	height: 10px;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 30px solid #0D0D0D;
	right: 25px;
	top: 60px;

}

.close-sesion{
	display: block;
	font-size: 1.1rem;
	text-decoration: none;
	padding: .5rem;
	transition: background .8s;
	color: #808080;
}

.close-sesion:hover{
	color: #eee;
}

.header__toggle--icon,
.header__options--icon{
	font-size: 2rem;
	text-decoration: none;
	color: #eee;
}

.header__options--icon{
	display: block;
}

/* ------ Final de cabecera ------- */


/* ------- Inicio de menu ------- */

.nav-toggled{
	width: 0px !important;
}

.aside__content{
	margin-top: 10px;
	width: 100%;
	height: 500px;
	overflow-y: auto;
}

.menu{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.menu__items--subtitle{
	margin-top: .4rem;
	margin-bottom: .4rem;
}

.menu__items--subtitle,
.menu__items{
	padding: .9rem;
}

.menu__items--subtitle{
	font-size: 1rem;
	color: #808080;
	font-family: 'Karla', sans-serif;
	font-weight: 900;
	cursor: pointer;
	display: block;
	margin-top: .4rem;
	margin-bottom: .4rem;
}

.menu__items--subtitle:hover{
	color: #eee;
}

.menu__items{
	margin: .3rem;
	transition: background .6s;
}

.menu__items--links,
.menu__items--subtitle{
	display: block;
	font-size: 1rem;
	font-family: 'Karla', sans-serif;
}

.aside__title--icon,
.menu__items--links{
	text-decoration: none;
	color: #eee;
}

.menu__items:hover{
	background: #0583F2;
}

.menu__level{
	display: none;
}

 /* ------ Final de menu ------ */

/* ------- Inicio del contenedor(contiene todo el dashboard)*/
.contenedor{
	color: black;
}

/* ------- Clase asignada al momento de ocultar el menu en pantalla desktop --------*/
.contenedor-toggled{
	grid-column: 1 / 3 !important;
}

/* ------- Final del contenedor -------*/